.register__leave-btn {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
    background: none;
    margin-top: 15px;
    color: #FFFFFF;
}